<div class="fullscreen">
  <%= image_tag("main-image.jpg", :class => "main-image") %>
  <div class="container main-text-container">
    <div class="col-xs-12">
      <span class="main-text">independent, free, you.</span>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-lg simple-button" id="findoutmore">
        <a href="#hexwatch">
          <span class="button-text">
            Find out more
          </span>
        </a>
      </button>
    </div>
  </div>
</div>
<div class="container product-quality" id="hexwatch">
  <div class="company-promise-container col-xs-12">
    <span class="company-promise">Where Technology meets design</span>
  </div>
</div>
<div class="core-competencies container">
  <div class="outer-competency col-xs-12 col-md-4">
    <div class="inner-competency">
      <i class="fa fa-compass icon"></i>
      <div class="col-xs-12 competency-title-container">
        <span class="competency-title">Protects you anywhere</span>
      </div>
      <div class="col-xs-12 competency-description-container">
        <span class="competency-description">Your 24/7 companion that detects unusual events, falls or distress wherever they might occur. Now you can do more, worry free.</span>
      </div>
    </div>
  </div>
  <div class="outer-competency col-xs-12 col-md-4">
    <div class="inner-competency">
      <i class="fa fa-bullseye icon"></i>
      <div class="col-xs-12 competency-title-container">
        <span class="competency-title">Simply wearable</span>
      </div>
      <div class="col-xs-12 competency-description-container">
        <span class="competency-description">No installation, WiFi or other equipment required. Simplicity and comfort lie at the core of the hex-watches design.</span>
      </div>
    </div>
  </div>
  <div class="outer-competency col-xs-12 col-md-4">
    <div class="inner-competency">
      <i class="fa fa-cogs icon"></i>
      <div class="col-xs-12 competency-title-container">
        <span class="competency-title">State-of-the-art</span>
      </div>
      <div class="col-xs-12 competency-description-container">
        <span class="competency-description">The sophisticated technology behind the smart hex-watch will alert you of any abnormalities and automatically inform your relatives in emergencies.</span>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid changeimage" id="changeimage">
  <div class="backimg1a" id="backimgtriangletopleft">
  </div>
  <div class="backimg1t" id="backimgtrianglebottomright">
  </div>
</section>
<div class="" id="howitworks">
  <div class="container">
    <div class="howitworks-title-container col-xs-12">
      <span class="howitworks-title">How it works</span>
    </div>
    <div class="row">
      <div class="titleunderlign col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
      </div>
    </div>
  </div>
  <%= image_tag("howitworks.png", :class => "howimage") %>
</div>
<div class="subscribe-form">
  <div class="subscribe-title-wrapper">
    <span class="subscribe-title">Subscribe to our updates</span>
  </div>
  <div class="subscribe-description-wrapper">
    <span class="subscribe-description">Sign up with your email address to receive latest news, updates and promotions.</span>
  </div>
  <%= form_for @subscription, :html => {:id => 'address-form'} do |f| %>
    <div class='form-input-wrapper'>
      <%= f.text_field :firstname, class: "form-control subscription-input", id: "name", placeholder: "First Name", :required => true%>
      <%= f.text_field :lastname, class: "form-control subscription-input", id: "name", placeholder: "Last Name", :required => true %>
      <%= f.text_field :email, class: "form-control subscription-input", id: "name", placeholder: "E-Mail Address", :required => true %>
    </div>
    <%= button_tag(type: 'submit', class:"btn btn-lg simple-button-black", id:"subscribe-button") do%>
      <span class="button-text-black">
        Sign Up
      </span>
    <%end%>
  <%end%>
</div>
<section class="container-fluid changeimage" id="changeimage2">
  <div class="backimg1a" id="backimgtriangletopright">
  </div>
  <div class="backimg1t" id="backimgtrianglebottomleft">
  </div>
</section>
<footer class="footer-distributed" id="contact">

  <div class="footer-left">

    <%=image_tag("logo.png", :class=>"nav-logo")%>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">How it works</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Hexagon innovation &copy; 2017</p>
    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker general-icon"></i>
      <p><span>1 Some Street</span> Melbourne, Australia</p>
    </div>

    <div>
      <i class="fa fa-phone general-icon"></i>
      <p>+6 401 203 391</p>
    </div>

    <div>
      <i class="fa fa-envelope general-icon"></i>
      <p><a href="mailto:support@company.com">support@hexinnov.com</a></p>
    </div>



  </div>
  <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>
